h1{
    color:aquamarine;
    font-size: 70px;
    font-style:italic;
    font-weight:bold;
    text-align: center;


    
}
h2{
    color:blue;
    font-size: 45px;
    text-align: center;
}
h3{
    color:brown;
    font-size: 45px;
    text-align: center;
}
p1{
    color:blueviolet;
    font-size: 35px;
    text-align: center;
}
p2{
    color:chartreuse;
    font-size: 35px;
    text-align: center;
}
